<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello Maen,</h1>
    <p>
      Here is a CSV of an on demand task scheduled for <%= @date.strftime("%m/%d/%Y") %>.
    </p>
    <p>Replate</p>
  </body>
</html>
