.history-title {
  color: #30404D;
  display: inline-block;
  font-size: 19px;
  font-weight: 700;
  margin-right: 10px;
}

.history-date-col {
  font-weight: 700;
}

.history-status.true {
  color: $green;
}

.history-status.false {
  color: $alert;
}

.history-table {
  width: 100%;
}

.history-button-container {
  width: 100%;

  button {
    width: 100%;
  }
}
