.recurrence-container {
  padding: 15px;
}

.day-item {
  cursor: pointer;
  display: inline-block;
  padding: 5px;
  margin-left: 2px;
  margin-right: 2px;
  background-color: #ffffff;
  -webkit-user-select: none;
}

.day-active {
  background-color: $green;
}

.new-location-component {
  float: right;
}

.location-creation-modal {
  .modal-dialog {
    max-width: 550px;
    padding: 10px;
  }

  .modal-header {
    padding-top: 30px;
  }

  .input-container {
    margin-bottom: 24px;

    input {
      width: 100%;
    }
  }
}

.location-create-form-row {
  @include clearAfter;

  .addr-num {
    float: left;
    padding-right: 20px;
    width: 20%;
  }

  .addr-street {
    float: left;
    width: 80%;
  }

  .addr-city {
    float: left;
    padding-right: 20px;
    width: 60%;
  }

  .addr-state {
    float: left;
    width: 40%;

    select {
      width: 100%;
    }
  }

  .addr-country {
    float: left;
    padding-right: 20px;
    width: 50%;
  }

  .addr-zip {
    float: left;
    width: 50%;
  }
}

.location-settings {
  overflow: hidden;

  .settings-title {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 20px;
  }
}

.location-settings-img-col {
  width: 35%;
  float: left;
  padding-right: 15px;
}

.location-settings-input-col {
  width: 65%;
  float: left;
  padding-left: 15px;
}

.location-setting-img {
  border-radius: 3px;
  margin-bottom: 20px;
  overflow: hidden;
  width: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
  }
}
