.recurrence-container {
  padding: 15px;
}

.day-item {
  cursor: pointer;
  display: inline-block;
  padding: 5px;
  margin-left: 2px;
  margin-right: 2px;
  background-color: #ffffff;
  -webkit-user-select: none;
}

.day-active {
  background-color: $green;
}
