.edit-profile-title {
  color: $black;
  font-size: 27px;
  font-weight: 700;
}

.edit-profile-desc {
  color: $silver;
  font-size: 18px;
  margin-bottom: 30px;
}

.edit-profile-container {
  border: 1px solid $gray;
  border-radius: 3px;
  max-width: 650px;
  margin: 40px auto 0;
  padding: 40px;

  .input-container input {
    width: 100%;
  }
}
