.container.edit-container = react_component("EditForm", {"business[email]":current_business.email,
  "business[company_name]":current_business.company_name,"business[phone]":current_business.phone,"business[address]":current_business.address})