.info-page-title {
  font-size: 34px;
  font-weight: 600;
}

.info-page-description {
  color: $silver;
  font-size: 24px;
}

.info-section-title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
