.splash-footer {
  background: $black;
  padding: 20px 0;

  .container {
    display: flex;
  }

  .footer-title {
    color: white;
    font-weight: 800;
    margin-right: 20px;
  }

  .footer-links-container {
    display: flex;
  }

  .footer-link {
    margin: 0 8px;
  }

  .footer-social-container {
    margin-left: auto;
    padding-right: 30px;

    .footer-social-icon {
      display: inline-block;
      opacity: 0.7;
      padding: 0 4px;
      vertical-align: middle;

      &:hover {
        opacity: 1;
      }
    }

    img {
      width: 17px;
    }
  }
}
