.input-container {
  .label {
    color: $black-60;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
  }

  .label--newline {
    display: block;
  }
}

.input {
  @include appearance(none);
  background: $black-10;
  border-radius: 2px;
  border: 1px solid transparent;
  color: $black;
  font-size: 14px;
  font-weight: 400;
  outline: none;
  padding: 8px 15px;
  resize: none;
  transition: 50ms;
  width: 100%;

  &:focus {
    background: $green-20;
    border-color: $green-40;
  }
}

.input--lg {
  font-size: 16px;
  padding: 12px 18px;
}

.input--sm {
  font-size: 12px;
  padding: 5px 10px;
}

.input--fullwidth {
  width: 100%;
}

.input--light {
  background: $snow-20;
  border: 1px solid $snow-40;
  color: $snow;

  &:focus {
    border-color: $snow-80;
  }
}

.editable-input-box-container {
  margin-bottom: 15px;
}

h3 {
  color: $black-60;
  font-size: 16px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 5px;
}

.select {
  @include appearance(none);
  background-image: image_url("icons/menulist.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 30px;
  background-color: $black-10;
  border-radius: 2px;
  border: 1px solid transparent;
  color: $black;
  font-size: 14px;
  font-weight: 400;
  outline: none;
  padding: 8px 15px;
  padding-right: 27px;
  transition: 50ms;
  margin-left: 2px;
  margin-right: 2px;

  &:focus {
    background-color: $green-20;
    border-color: $green-40;
  }
}

.blank::after {
  content: "cannot be blank";
}
.blank {
  color: red;
}

.nomatch::after {
  content: "Passwords do not match";
}
.nomatch {
  color: red;
}

.short::after {
  content: "Password must be longer than 8 characters";
}
.short {
  color: red;
}

.phone_short::after {
  content: "Phone number must have 10 numbers";
}
.phone_short {
  color: red;
}

.invalid::after {
  content: "Email is not valid";
}
.invalid {
  color: red;
}

.code::after {
  content: "Invalid sign up code";
}
.code {
  color: red;
}

.red-border {
  border: 1px solid red;
}

.validation-msg {
  color: $alert;
  font-size: 14px;
}
