.input-container {
  label.label--newline {
    color: $black-60;
    display: block;
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 5px;
    text-transform: uppercase;
  }
}


.input {
  @include appearance(none);
  background: $black-10;
  border-radius: 2px;
  border: 1px solid transparent;
  color: $black;
  font-size: 14px;
  font-weight: 400;
  outline: none;
  padding: 8px 15px;
  transition: 50ms;

  &:focus {
    background: $green-20;
    border-color: $green-40;
  }
}

.input--lg {
  font-size: 16px;
  padding: 12px 18px;
}

.input--sm {
  font-size: 12px;
  padding: 5px 10px;
}

.input--fullwidth {
  width: 100%;
}


.input--light {
  background: $snow-20;
  border: 1px solid $snow-40;
  color: $snow;

  &:focus {
    border-color: $snow-80;
  }
}

.select {
  @include appearance(none);
  background-image: image_url("icons/menulist.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 30px;
  background-color: $black-10;
  border-radius: 2px;
  border: 1px solid transparent;
  color: $black;
  font-size: 14px;
  font-weight: 400;
  outline: none;
  padding: 8px 15px;
  transition: 50ms;

  &:focus {
    background-color: $green-20;
    border-color: $green-40;
  }
}
