.container
  = react_component "LocationHome", {           \
      company: @location.business.company_name, \
      location: @location,                      \
      requests: @location.requests              \
    }
