= render "partials/dashboard_nav"

.container
  = react_component "LocationHome", {           \
      company: @location.business.company_name, \
      location: @location,                      \
      pickups: @location.pickups              \
    }
